.menu {
  .container {
    padding: 50px 10px;
    h5 {
      padding-bottom: 20px;
      color: #605648;
    }
    @include media-breakpoint-down(sm) {
      h5 {
        text-align: center;
      }
    }
  }
  .pos-rel {
    position: relative;
  }
  .nav-icons {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $secondary;
    &:hover {
      color: $dark;
      svg {
        fill: $dark;
      }
      .badge {
        background: $dark;
      }
    }
    svg {
      width: 1.2rem;
      fill: $secondary;
    }
    .cart-bag {
      transform: scale(1.1);
    }
    @include media-breakpoint-down(md) {
      .cart-bag {
        transform: scale(1);
      }
    }
    .badge {
      position: absolute;
      top: 0;
      right: 0;
      margin: -40% -75% 0 0;
      transform: scale(0.8);
      background: $red-400;
      transition: all .2s;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active {
        background: $red-400;
        animation: jump .6s forwards cubic-bezier(0.65, 0.05, 0.15, 1);
      }
    }
    .form-control {
      border: none;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .nav-search {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      border: 1px solid transparent;
      transition: all .2s;
      svg {
        width: 1.25em;
      }
      .material-icons {
        display: none;
      }
      .form-control {
        display: none;
        width: 0;
        padding: 0;
        color: $secondary;
        border: 0;
        text-align: left;
        &::placeholder {
          color: rgba($secondary, .3);
          font-size: 10px;
        }
        &:hover, &:focus {
          color: $secondary;
        }
      }
      &.expand {
        padding: .2rem .5rem;
        border-color: rgba($secondary, .5);
        .material-icons {
          display: block;
        }
        .form-control {
          width: 100%;
          padding: 0 .5rem;
          display: block;
        }
      }
      .search-list {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background: $white;
        max-height: 10rem;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: .2rem;
        font-size: $h6-font-size;
        color: rgba($secondary, .8);
        li:hover, .curr {
          background: rgba($secondary, .1);
        }
      }
    }
  }
  .product-col {
    padding: 50px 0;
    h6 {
      color: $text-color-60;
    }
    .del {
      color: #ACACAC;
      text-decoration: line-through;
    }
    button {
      border-radius: 0;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .sale {
      position: absolute;
      top: 15px;
      left: 15px;
      padding: 5px 10px;
      font-weight: 700;
      color: #DE8158;
      background-color: rgba(255, 255, 255, 0.705);
    }
    .price {
      font-size: 20px;
      font-weight: 700;
      color: #DE8158;
    }
    // Menu-zoom-effect.vue
    // .product-img {
    //   position: relative;
    //   overflow: hidden;
    // }
    // .product-img-bg {
    //   height: 220px !important;
    //   width: 100%;
    //   transform: scale(1, 1);
    //   transition: all 0.5s ease-out;
    // }
    // .light-bg {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   background: rgba(82, 69, 56, 0.5);
    //   opacity: 0;
    // }
    // &:hover {
    //   .product-img-bg {
    //     background-color: #fff;
    //     transform: scale(1.1, 1.1);
    //   }
    //   .light-bg {
    //     opacity: 1;
    //     transition: all 0.3s ease-in-out;
    //   }
    // }
  }
  .product-category {
    ul {
      display: flex;
      flex-direction: row;
      li.active a {
        color: #fff;
      }
      li {
        margin-right: 8px;
        a {
          &:hover {
            color: #fff;
          }
        }
      }
      .btn-outline-primary {
        padding: 13px 10px;
        border-radius: 50%;
        border-color: #6056483f;
      }
    }
    
  }
  @include media-breakpoint-down(sm) {
    .product-category {
      display: flex;
      justify-content: center;
    }
  }
}

// RecProductsCard_Swiper.vue
.product-component {
  .pos-rel {
    position: relative;
  }
  h6 {
    color: $text-color-60;
  }
  .del {
    color: #ACACAC;
    text-decoration: line-through;
  }
  button {
    border-radius: 0;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .sale {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px 10px;
    font-weight: 700;
    color: #DE8158;
    background-color: rgba(255, 255, 255, 0.705);
  }
  .price {
    font-size: 20px;
    font-weight: 700;
    color: #DE8158;
  }
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0) scale(0.8);
  }
  10% {
    transform: translateY(20%) scale(1, 0.7);
  }
  50% {
    transform: translateY(-20%) scale(0.7, 1);
  }
}






// .product-img {
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center 60%;
//   height: 280px;
//   transition: all .3s ease-in-out;
//   position: relative;
//   overflow: hidden;
//   &::after {
//     content: '';
//     display: block;
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba($dark, .15);
//     opacity: 0;
//     transition: all .3s ease-in-out;
//   }
//   .sale {
//     position: absolute;
//     right: 0;
//     background: $light;
//     color: $dark;
//     padding: .5rem 1rem;
//     margin: 1rem;
//     font-size: .875rem;
//     font-weight: 500;
//     color: $red-300;
//     z-index: 2;
//   }
//   small, button {
//     position: absolute;
//     left: 50%;
//     bottom: 0;
//     transform: translate(-50%, 0);
//     width: calc(100% - 2rem);
//     background: $white;
//     color: $primary;
//     padding: 1rem;
//     margin: 1rem 0;
//     text-align: center;
//     box-shadow: 0 2px 6px rgba($dark, .1);
//     text-transform: uppercase;
//     font-size: .875rem;
//     transition: all .3s ease-out;
//     z-index: 2;
//   }
//   @include media-breakpoint-down(md) {
//     .product-img {
//       background-position: center 70%;
//       height: 300px;
//       small {
//         transform: translate(-50%, 10%);
//         opacity: 0;
//       }
//       &:hover {
//         &::after {
//           opacity: 1;
//         }
//         small {
//           opacity: 1;
//           transform: translate(-50%, 0);
//         }
//       }
//     }
//   }
// }
// .fade-out {
//   opacity: 0;
//   transform: translateY(10%);
//   transition: all 1s;
// }
// .fade-in {
//   opacity: 1;
//   transform: translateY(0%);
//   transition: all 1s;
//   transition-delay: .25s;
// }