.order-cart {
  .order-header{
    ul {
      // d-flex flex-column text-center
      li {  
        // margin: 0 20px;
        padding: 0 10px;
        text-align: center;
      }
      .line {
        width: 100px;
        padding: 0;
        margin: 0;
      }
      .nav-link {
        color: rgb(151, 151, 151);
        i {
          font-size: 40px;
        }
      }
      .active {
        color: #000;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .order-header {
      display: none;
    }
  }
  .order-body {
    .check-cart {
      thead, tbody, tfoot, tr, td, th {
        border-style: none;
      }
      table {
        thead {
          th {
            padding: 15px 0;
          }
        }
        tbody {
          th {
            padding: 15px 0;
            button {
              padding: 2px;
            }
          }
        }
      }
      .bi-arrow-right-circle-fill {
        padding-right: 5px;
      }
      .bi-check-circle-fill {
        padding-left: 5px;
        color: white;
      }
      .mobile-check-cart {
        display: none;
      }
      @include media-breakpoint-down(lg) {
        .mobile-check-cart {
          display: block;
          .cartBox-img {
            width: 100px;
            height: 100px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .product-delete {
            button {
              padding: 0;
            }
          }
          .nav-input {
            width: 50%;
          }
        }
        .desktop-check-cart {
          display: none;
        }
      }
      @include media-breakpoint-down(md) {
        .coupon-item {
          flex-direction: column;
          .col-6 {
            width: 100%;
          }
        }
        .remove-cart {
          text-align: right;
        }
      }
    }
    .check-order {
      .check-order-list {
        margin-bottom: 30px;
        p {
          padding: 20px 10px;
          border: 1px solid #dee2e6;
          color: $text-color-9c;
        }
        .col-6 {
          margin-bottom: 30px;
        }
        .col-12 {
          margin-bottom: 30px;
        }
        @include media-breakpoint-down(md) {
          .mobile-email {
            width: 100%;
          }
          .mobile-pay {
            width: 100%;
          }
        }
      }
      .order-details {
        thead, tbody, tfoot, tr, td, th {
          border-style: none;
        }
        .product-title {
          float: left;
        }
        .price-total {
          float: right;
        }
        @include media-breakpoint-down(sm) {
          .product-title {
            float: none;
          }
          .price-total {
            float: none;
          }
        }
      }
    }
    .create-order {
      .form-control {
        border-radius: 0;
      }
      #inputPayment {
        border-radius: 0;
      }
    }
    @include media-breakpoint-down(sm) {
      .order-received {
        .col-4 {
          width: 100%;
        }
      }
    }
    button {
      padding: 12px 45px;
    }
  }
}