.container {
  .col-md-6-carousel {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @include media-breakpoint-down(lg) {
    .col-md-6 {
      width: 100%;
    }
    .mobile-top {
      padding-top: 80px;
    }
  }
  .col-4-input {
    width: 100px;
    height: 52px;
    .form-control {
      width: 70px;
      padding: 13px;
    }
    .btn-outline-secondary:hover {
      color: #fff;
      background-color: #a7a7a7;
      border-color: #b6b6b6;
    }
  }
  @include media-breakpoint-down(sm) {
    .get-cart {
      .col-4-input {
        height: 54px;
        .form-control {
          width: 100%;
        }
      }
    }
  }
  .col-6 {
    .btn-cart {
      padding: 13px 65px;
      background-color: #ffcdab;
      transition: all 0.3s;
      &:hover {
        color: #FAFAFA;
        background-color: #3B3B3B;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .get-cart {
      .col-6 {
        width: 100%;
        button {
          width: 100%;
          margin-top: 20px;
        }
      }
    }
  }
}


.product-price {
  span {
    color: #DE8158;
    font-size: 2rem;
    margin-right: 1rem;
  }
  small {
    color: $gray-700;
    font-size: 1.5rem;
    &.del {
      color: $secondary;
      font-size: 1rem;
      text-decoration: line-through;
    }
  }
}