// About
.about {
  .col-12 {
    padding: 0 100px 100px 100px;
  }
  h1 {
    color: $text-color-60;
  }
  h3 {
    color: $text-color-60;
  }
  p {
    color: $text-color-60;
  }
  .about-header-img {
    height: 300px;
    margin-bottom: 100px;
    background-image: url('./assets/images/about-img-1.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  .row {
    .about-middle-img {
      height: 250px;
      background-image: url('./assets/images/about-img-2.jpg');
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }
  .copyright {
    padding: 100px 0 50px 0;
  }
  @include media-breakpoint-down(sm) {
    .row {
      padding: 0 30px;
    }
    .copyright {
      padding: 0 30px;
    }
  }
}


#scrollTop {
  background: rgba(lighten($primary, 30%), .2);
  position: fixed;
  bottom: 0;
  right: 10%;
  margin: 1rem;
  display: flex;
  align-self: center;
  font-size: 12px;
  z-index: 2;
  transition: all .15s;
  span {
    color: $white;
  }
  &:hover {
    background: rgba(lighten($primary, 30%), .5);
  }
}

// ProductIllustrate
.product-illustrate {
  .leather-care {
    .leather-care-col-6 {
      padding-right: 20px;
    }
  }
  .precautions {
    .precautions-img {
      padding: 3rem 3rem 0 0 ;
    }
    @include media-breakpoint-down(lg) {
      .precautions-img {
        padding: 0;
      }
    }
    .precautions-text {
      padding: 3rem 3rem 0 3rem;
    }
    @include media-breakpoint-down(lg) {
      .precautions-text {
        padding: 3rem 0 0 0;
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .product-illustrate {
    .col-6 {
      width: 100%;
      padding: 0;
    }
    .image-col-6 {
      display: none !important;
    }
  }
}

