// About
.about {
  .row {
    padding: 100px 0 0;
    .about-int-col-6 {
      padding-right: 100px;
    }
    .about-img-col-6 {
      padding: 100px 0 100px 50px;
    } 
    @include media-breakpoint-down(xl) {
      .col-6 {
        width: 100%;
      }
      .about-int-col-6 {
        padding: 50px 0;
      }
      .about-img-col-6 {
        width: 70% ;
        margin: 0 auto;
        padding: 30px 0 0 0;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .row {
      padding: 0 30px;
    }
    .copyright {
      padding: 0 30px;
    }
  }
}

// ProductIllustrate
.product-illustrate {
  .leather-care {
    .leather-care-col-6 {
      padding-right: 20px;
    }
  }
  .precautions {
    .precautions-img {
      padding: 3rem 3rem 0 0 ;
    }
    @include media-breakpoint-down(lg) {
      .precautions-img {
        padding: 0;
      }
    }
    .precautions-text {
      padding: 3rem 3rem 0 3rem;
    }
    @include media-breakpoint-down(lg) {
      .precautions-text {
        padding: 3rem 0 0 0;
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .product-illustrate {
    .col-6 {
      width: 100%;
      padding: 0;
    }
    .image-col-6 {
      display: none !important;
    }
  }
}